<li class="list-group-item" >
    <a [routerLink]="[postId]">
        <div>
            <span>Posté par {{ postUserName }} {{ postUserFirstName }}.</span>
            <!--<span>{{ postDate | date }}</span>--></div>
        <h4>{{ postTitle}}</h4>
        <div *ngIf="postImageUrl !== 'imageUrl'">
            <img [src]="postImageUrl" alt="L'image du post" class="list-img">
        </div>
        <p>{{ postContent }}</p>
        <div>
            <span>{{ postLike }}</span>
        </div>
        <a [routerLink]="[postId]">Commentaires</a>
    </a>
</li>
