.list-group-item {
    width: 80%;
    height: auto;
    border: 2px solid #675757;
    border-radius: 0.5rem;
    animation: appear 2s 100ms cubic-bezier(.21,1.05,.31,.92);
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 250ms * $i;
        }
    }
}

@keyframes appear {
    from {
        transform: translateY(6rem);
        opacity: .2;
    }
    to {
        transform: translateY(0);
    }
}
