<li id="list-item" class="list-group-item" >
    <a [routerLink]="[postId]" class="list-item">
        <h4 class="list-item__title">{{ postTitle}}</h4>
        <div class="list-item__img" *ngIf="postImageUrl !== 'imageUrl'">
            <img [src]="postImageUrl" alt="L'image du post" class="list-img">
        </div>
        <p class="list-item__text">{{ postContent }}</p>
        <div class="list-item__info">
            <p class="info-text">Posté par {{ postUserName }} {{ postUserFirstName }}.</p>
            <a class="info-link" [routerLink]="[postId]">Commentaires</a>
            <div class="info-like">
                <i class="info-like__icon fas fa-arrows-alt-v" ></i>
                <span class="info-like__number">{{ postLike }}</span>
            </div>
        </div>
    </a>
</li>
