<app-header></app-header>
<div class="main-profile">
    <article class="profile">
        <h2 class="profile__title">Profil</h2>
        <div class="profile__text">
            <p>{{ userName }}</p>
            <p>{{ userFirstName }}</p>
        </div>
        <button class="profile__btn" type="button" id="deleteBtn" (click)="deleteClick()">Supprimer  <i class="fas fa-trash-alt"></i></button>
        <div class="profile__option" id="delete-div" *ngIf="clickedBouton === true">
            <p class="option__text">Etes vous sur de vouloir supprimer votre profil ?</p>
            <div>
                <button class="option__btn" (click)="onDeleteProfile()" title="Oui"><i class="fas fa-check"></i></button>
                <button class="option__btn" (click)="giveUpDelete()" title="Non"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </article>
    <aside class="profile-aside">
        <h2 class="profile-aside__title">Membres</h2>
        <ul class="profile-aside__list">
          <app-user-list-item class="list-group-item" *ngFor="let user of users$ | async"
                              [userName]="user.name"
                              [userFirstName]="user.first_name" ></app-user-list-item>
        </ul>
    </aside>
</div>
<div *ngIf="isAdmin === 1">
    <form class="form-content" [formGroup]="searchForm" (ngSubmit)="onGetOneProfile()">
        <input id="search-user" class="form-content__input" name="search-user" type="text" aria-label="Recherche un utilisateur" formControlName="searchUser">
        <button class="form-content__btn" name="addComment" type="submit">Rechercher utilisateur</button>
        <p>{{ errorMessage }}</p>
    </form>
    <div *ngIf="userSearched != null ">
        <h4>{{ userSearchedName }}</h4>
        <p>{{ userSearchedFirstName }}</p>
        <button (click)="adminDeleteClick()">Supprimer</button>
        <div *ngIf="adminClickedBouton === true">
            Etes vous sur de vouloir supprimer ce post ?
            <button (click)="onDeleteOneProfile()">Oui</button>
            <button (click)="adminGiveUpDelete()">Non</button>
        </div>
    </div>
</div>
