<a [routerLink]="['/home']">Retour</a>
<article>
    <span>Posté par {{ postUserName }} {{ postUserFirstName }}</span>
    <h4>{{ postTitle }}</h4>
    <img *ngIf="postImageUrl !== 'imageUrl'" [src]="postImageUrl" alt="L'image du post" class="list-img">
    <p>{{ postContent }}</p>
    <span>{{ postLike }}</span>
    <button class="form-content__btn" name="addLike" type="button" [disabled]="numberOfLike == -1" (click)="onAddLike()">Liker</button>
    <button class="form-content__btn" name="addDislike" type="button" [disabled]="numberOfLike == 1" (click)="onAddDislike()">Disliker</button>
    <div *ngIf="isAdmin === 1 || isUser === postUser">
        <button (click)="deleteClick()">Supprimer</button>
        <div *ngIf="clickedDeletePost === true">
            Etes vous sur de vouloir supprimer ce post ?
            <button (click)="onDeleteOnePost()">Oui</button>
            <button (click)="giveUpDelete()">Non</button>
        </div>
    </div>
    
</article>
<form class="form-content" [formGroup]="commentForm" (ngSubmit)="onAddComment()">
    <input id="comment-text" class="form-content__input" name="comment-text" type="text" aria-label="Texte du commentaire" formControlName="commentText">
    <button class="form-content__btn" name="addComment" type="submit">Ajouter un commentaire</button>
</form>
<ul>
    <app-comment *ngFor="let comment of comments"
                    [commentUserName]="comment.user_name_comment"
                    [commentUserFirstName]="comment.user_firstname_comment"
                    [commentContent]="comment.content"></app-comment>
</ul>
