<form class="create-post-form">
  <input id="create-post-page" (click)="getCreatePostPage()" class="create-post-form__input" name="create-post-page" placeholder="&#x270E;  Créer un post " type="text" aria-label="Créer un post">
</form>
<div class="main">
  <section class="post">
    <h2 class="post__title">Fil d'actualité</h2>
    <ul class="post__list"  >
      <app-post-list-item class="list-group-item" *ngFor="let post of posts$ | async" 
                            [postContent]="post.content"
                            [postTitle]="post.title"
                            [postLike]="post.like"
                            [postUser]="post.user_email"
                            [postUserName]="post.user_name"
                            [postUserFirstName]="post.user_firstname"
                            [postImageUrl]="post.image_url"
                            [postId]="post.id">
      </app-post-list-item>
    </ul>
  </section>
</div>
