.post {
    width: 90%;
}
.post-list {
    list-style-type: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.list-group-item {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 5px #675757;
    border-radius: 0.5rem;
    background-color: #fff;
    animation: appear 2s 100ms cubic-bezier(.21,1.05,.31,.92);
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 250ms * $i;
        }
    }
}

@keyframes appear {
    from {
        transform: translateY(6rem);
        opacity: .2;
    }
    to {
        transform: translateY(0);
    }
}