<div class="home-form">
    <div class="home-background">
        <div class="home-background__logo">
            <img class="home-background-logo" src="../../assets/logo-xxl.png" alt="Logo de l'entreprise">
            <img class="home-background-logo-title" src="../../assets/logo-title.png" alt="Nom de l'entreprise">
        </div>
        <p class="home-background__text">Avec votre réseau social d'entreprise préféré, partager et rester en contact</p>
    </div>
    <form class="form-content" [formGroup]="userLogForm" (ngSubmit)="onLogin()">
        <input id="email" class="form-content__input" name="email" type="text" placeholder="Adresse e-mail" aria-label="Adresse e-mail" formControlName="email">
        <input id="password" class="form-content__input" name="password" type="password" placeholder="Mot de passe" aria-label="Mot de passe" formControlName="password">
        <button class="form-content__btn" name="login" type="submit" [disabled]="userLogForm.invalid">Se connecter</button>
        <a routerLink="signin" class="form-content__btn">S'inscrire</a>
    </form>
</div>